[Bb]in/
[Oo]bj/
[Oo]ut/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.suo
*.user
*.sln.docstates
*.tlog
*.lastbuildstate
*.vsp
*.vspx
*.ncb
*.opendb
*.sln

.vs/
*.vcxproj.user
*.VC.db
*.VC.opendb
ipch/
*.iobj
*.ipdb

*.nupkg
packages/
project.lock.json
project.assets.json

.idea/

.publish/
.azure/
*.publishsettings
